<header class="navbar">
    @if (authService.isAdmin()) {
      <a class="brand" routerLink="/admin/bookings">SportHub Admin</a>
    } @else {
      <a class="brand" routerLink="/sports">SportHub</a>
    }
  <nav>
    @if (!authService.isAdmin()) {
      <a routerLink="/sports">Sports</a>
      <a routerLink="/bookings">My Bookings</a>
    }

    @if (authService.isAdmin()) {
      <a routerLink="/admin/bookings">Admin Bookings</a>
      <a routerLink="/admin/sports">Admin Sports</a>
      <a routerLink="/admin/equipment">Admin Equipment</a>
    }

    <button type="button" (click)="logout()">Logout</button>
  </nav>
</header>
