<header class="navbar">
    @if (authService.isAdmin()) {
      <a class="brand" routerLink="/admin/bookings">SportHub Admin</a>
    } @else {
      <a class="brand" routerLink="/sports">SportHub</a>
    }
  <nav>
    @if (!authService.isAdmin()) {
      <a routerLink="/sports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sports</a>
      <a routerLink="/equipment" routerLinkActive="active">Equipment</a>
      <a routerLink="/bookings" routerLinkActive="active">My Bookings</a>
    }

    @if (authService.isAdmin()) {
      <a routerLink="/admin/bookings" routerLinkActive="active">Admin Bookings</a>
      <a routerLink="/admin/sports" routerLinkActive="active">Sports Management</a>
    }
    <button type="button" class="logout-button" (click)="logout()">Logout</button>
  </nav>
</header>
